<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AI智慧羽球教練</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
</head>
<body>
  <!-- <div class="container">
    <span>AI智慧羽球教練</span>
  </div> -->
  <!-- <div class="button-container">
    <a href="/menu">開始</a>
  </div> -->

  <!-- <div class="cover">
    <img src="static/images/01.jpg" alt="封面圖片">
    <div class="header">
      <span>AI智慧羽球教練</span>
    </div>
    <a href="/menu" class="btn">開始</a>
  </div> -->

  <div class="cover-container">
    <img src="static/images/01.jpg" alt="封面圖片" class="cover-image">
    <div class="cover-content">
      <p class="cover-text">AI智慧羽球教練</p>
      <a href="/menu" class="btn">開始</a>
    </div>
  </div>
</body>
</html>
