<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>進度表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/schedule.css')}}">
  <nav class="navbar navbar-expand-xl bg-dark navbar-dark" role="navigation">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">AI智慧羽球教練</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/menu" class="nav-link">選單</a>
              </li>
              <li class="nav-item dropdown">
                <a href="/explanation" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  說明
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/explanation">系統使用說明</a>
                  <a class="dropdown-item" href="/explanation_video">示範影片</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="/choose" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  選擇訓練方式
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/video">影片辨識</a>
                  <a class="dropdown-item" href="/realtime">即時辨識</a>
                </div>
              </li>
              <li class="nav-item">
                <a href="/schedule" class="nav-link">進度表</a>
              </li>
          </ul>
          {% if g.user %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="/choose" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ g.user.username }}</a>
                <div class="dropdown-menu text-right">
                  <a class="dropdown-item" href="/logout">登出</a>
                </div>
              </li>
            </ul>
          {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/login" class="nav-link">登入</a>
              </li>
            </ul>
          {% endif %}
        </div>
    </div>
  </nav>
</head>
<body class="body">

  <div class="container">
    進度表
  </div>

  <div class="back-top hide" title="回頂部"></div>

  <div class="button-container">
    <a href="/add" class="btn btn-add">
        <span>新增紀錄</span>
    </a>

    <button type="button" class="btn btn-delete" onclick="deleteSelected()" required>
        <div>批量刪除</div>
    </button>
  </div>

  <form action="/schedule" method="POST" enctype="multipart/form-data">
      <div class="content">
        <table id="data-table" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">
                <input type="checkbox" id="select-all">
              </th>
              <th>編號</th>
              <th>姓名</th>
              <th>球種</th>
              <th>訓練進度</th>
              <th>完成進度</th>
              <th>百分比</th>
              <th>日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <!-- {% set user_index = 1 %} -->
          {% for player in players %}
            <tr>
              <td><input type="checkbox" class="delete-checkbox" id="checkbox_{{ player.id }}" name="delete_checkbox" value="{{ player.id }}"></td>
              <td>{{ loop.index }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.shot }}</td>
              <td>{{ player.training_progress }}</td>
              <td>{{ player.complete_progress }}</td>
              <td>{{ player.percentage }}%</td>
              <td>{{ player.date }}</td>
              <td>
                <div class="button-group">
                  <a href="/view/{{ player.id }}" class="action-button">詳情</a>
                  <a href="/edit/{{ player.id }}" class="action-button">修改</a>
                  <a href="/delete/{{ player.id }}" class="action-button delete-button">刪除</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
  </form>


  <!-- script -->
  <script>
    function confirmDelete() {
        return confirm('確定要刪除嗎');
    }
  </script>

  <script>
    // 獲取相關字段元素
    var trainingInput = document.getElementById('training_progress');
    var completeInput = document.getElementById('complete_progress');
    var percentageInput = document.getElementById('percentage');

    // 監聽training和complete字段值變化事件
    trainingInput.addEventListener('input', updatePercentage);
    completeInput.addEventListener('input', updatePercentage);

    // 更新百分比字段的值
    function updatePercentage() {
        var trainingValue = parseFloat(trainingInput.value);
        var completeValue = parseFloat(completeInput.value);
        var percentageValue = (completeValue / trainingValue) * 100;

        // 判斷計算得到的百分比是否有效（例如，避免除以0導致NaN或Infinity）
        if (isNaN(percentageValue) || !isFinite(percentageValue)) {
            percentageInput.value = '';
        } else {
            percentageInput.value = percentageValue.toFixed(2); // 保留兩位小數
        }
    }
  </script>

  <script>
    $(document).ready(function () {
      // 捲軸偵測距離頂部超過 50 才顯示按鈕
      $(window).scroll(function () {
        if ($(window).scrollTop() > 50) {
          if ($(".back-top").hasClass("hide")) {
            $(".back-top").toggleClass("hide");
          }
        } else {
          $(".back-top").addClass("hide");
        }
      });

      // 點擊按鈕回頂部
      $(".back-top").on("click", function (event) {
        $("html, body").animate(
          {
            scrollTop: 0
          },
          500 // 回頂部時間為 500 毫秒
        );
      });
    });
  </script>

  <script>
    function deleteSelected() {
        var checkboxes = document.getElementsByName('delete_checkbox');
        var selectedIds = [];

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedIds.push(checkboxes[i].value);
            }
        }

        if (selectedIds.length === 0) {
            alert('請選擇要刪除的數據！');
            return;
        }

        if (confirm('確定要刪除選中的數據嗎？')) {
            // 发送选中数据的ID到后端进行删除操作
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/delete_selected', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 刷新页面或执行其他操作
                    location.reload();
                }
            };
            xhr.send(JSON.stringify({ selectedIds: selectedIds }));
        }
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectAllCheckbox = document.getElementById('select-all');
        var deleteCheckboxes = document.getElementsByClassName('delete-checkbox');

        selectAllCheckbox.addEventListener('change', function () {
            for (var i = 0; i < deleteCheckboxes.length; i++) {
                deleteCheckboxes[i].checked = selectAllCheckbox.checked;
            }
        });

        for (var i = 0; i < deleteCheckboxes.length; i++) {
            deleteCheckboxes[i].addEventListener('change', function () {
                var allChecked = true;
                for (var j = 0; j < deleteCheckboxes.length; j++) {
                    if (!deleteCheckboxes[j].checked) {
                        allChecked = false;
                        break;
                    }
                }
                selectAllCheckbox.checked = allChecked;
            });
        }
    });
  </script>

</body>
</html>
